.welcome {
  padding-top: 7%;
  height: 93%;
  background-color: $background-color;

  h1 {
    font-size: 300%;
  }

  p {
    font-size: $font-lg-size;

    strong {
      font-size: inherit;
    }
  }
}
