<% provide :page_title, 'Create bill' %>
<% provide :page_heading, "Create bill" %>

<menu class="col-xs-12 action-bar">
  <div class="text-left col-xs-12 col-md-4 action-bar-section">
    <%= link_to spendings_url, class: 'btn btn-default' do %>
      <%= icon('list') %> <%= 'Back to list' %>
    <% end %>
  </div>

  <div class="text-right col-xs-12 col-md-8 action-bar-section">
  </div>
</menu>
