.breadcrumbs {
  background-color: $background-color;
  margin-bottom: 15px;
  display: inline-block;

  .breadcrumbs-item {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    background-color: $primary-color;
    color: $text-color-alt;

    &.active {
      background-color: darken($primary-color, 10%);
    }

    &:hover {
      text-decoration: none;
      background-color: lighten($primary-color, 15%);
      cursor: pointer;
    }
  }
}
