.breadcrumbs {
  background-color: $background-color;
  display: inline-block;
  margin-bottom: $default-margin;

  .breadcrumbs-item {
    display: inline-block;
    margin-right: 0.35em;
    padding: $button-padding;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: $font-sm-size;
    background-color: $primary-color;
    color: $text-color-alt;
    @include box-shadow(5px, 5px, 5px, rgba(0, 0, 0, 0.3));

    &.active {
      background-color: $primary-highlight-color;
    }

    &:hover {
      text-decoration: none;
      background-color: $primary-highlight-color;
      cursor: pointer;
    }
  }
}
