.btn {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  padding: $button-padding;
  background-color: $button-color;
  color: $text-color-alt;
  border: 0;
  font-size: $font-sm-size;
  @include box-shadow(5px, 5px, 5px, rgba(0, 0, 0, 0.3));

  &:hover {
    text-decoration: none;
    background-color: $button-highlight-color;
    cursor: pointer;
  }

  &.primary {
    background-color: $primary-color;

    &:hover {
      background-color: $primary-highlight-color;
    }
  }

  &.success {
    background-color: $success-color;

    &:hover {
      background-color: $success-highlight-color;
    }
  }

  &.warning {
    background-color: $warning-color;

    &:hover {
      background-color: $warning-highlight-color;
    }
  }

  &.danger {
    background-color: $danger-color;

    &:hover {
      background-color: $danger-highlight-color;
    }
  }
}

.btn-small {
  padding: $button-padding-small;
}
