.form {
  width: 40%;
  margin: auto;
  background-color: rgb(255, 255, 255);
  padding: $default-padding;
  @include box-shadow(5px, 5px, 5px, rgba(0, 0, 0, 0.3));
}

@media screen and (max-width: 992px) {
  .form {
    width: 60%;
  }
}

@media screen and (max-width: 680px) {
  .form {
    width: 80%;
  }
}

@media screen and (max-width: 400px) {
  .form {
    width: 100%;
  }
}
