.header {
  position: relative;
  overflow: hidden;
  font-size: $font-lg-size;
  background-color: $primary-color;
  color: $text-color-alt;
  @include box-shadow(0, 5px, 5px, rgba(0, 0, 0, 0.3));
}
