input,
select {
  display: block;
  margin: 0;
  width: $full-width;
  font-size: 18px;
  box-shadow: none;
  padding: 10px;
  border: solid 5px lighten($text-color, 75%);
  transition: border 0.3s;
  margin-bottom: $input-margin;
  border-radius: 0;
}

select {
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;

  &:hover {
    border: solid 5px lighten($text-color, 50%);
  }
}

input[type="email"],
input[type="password"],
input[type="text"] {
  &:focus {
    outline: none;
    border: solid 5px lighten($text-color, 50%);
  }
}

input[type="checkbox"] {
  max-width: 20px;
  display: inline-block;
}

label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: $font-sm-size;
  display: inline-block;
  margin-bottom: 0.2em;
}
