.logo {
  display: block;
  width: 100%;
  padding: 0.57em;
  font-size: 140%;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  letter-spacing: -0.05em;
  color: $text-color-alt;
}
