.pagination {
  display: block;
  text-align: right;
  padding: $default-padding;

  * {
    display: inline-block;
    min-width: 2.5em;
    max-height: 2.5em;
    padding: $button-padding;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-size: $font-xs-size;
    font-style: normal;
    font-weight: bold;
    cursor: pointer;
    background-color: $primary-color;
    color: $text-color-alt;

    &:hover {
      background-color: $primary-highlight-color;
    }

    &.disabled {
      display: none;
    }

    &.current {
      background-color: $primary-highlight-color;
    }
  }
}
