.pagination {
  background-color: $background-color;
  margin: 1.0em 0;
  display: inline-block;

  * {
    display: inline-block;
    min-width: 2.5em;
    max-height: 2.5em;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    padding: $button-padding;
    background-color: $primary-color;
    color: $text-color-alt;
    margin: 0;
    font-size: 90%;
    box-shadow: -3px 3px 5px #888888;

    &:hover {
      background-color: lighten($primary-color, 25%);
      cursor: pointer;
    }

    &.disabled {
      display: none;
    }

    &.current {
      background-color: lighten($primary-color, 20%);
    }
  }
}
