.sidebar {
  display: block;
  width: 0;
  float: left;
  height: 100%;
  background-color: $primary-color;
  color: $text-color-alt;
  position: fixed;
  overflow-x: hidden;
  /* z-index: 1; */
  top: 0;
  left: 0;
  transition: 0.3s;

  ul {
    display: block;
    height: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;

    li a {
      display: inline-block;
      width: 100%;
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      padding: 1.0em;
      color: $text-color-alt;

      &:hover {
        background-color: lighten($primary-color, 15%);
      }
    }
  }
}
