.table {
  display: table;
  border-spacing: 0;
  width: $full-width;

  .table-caption {
    display: table-caption;
    text-align: center;
    padding: $table-cell-padding;
    text-transform: uppercase;
    font-weight: bold;
    font-size: $font-sm-size;
    background-color: $table-caption-color;
    color: $text-color-alt;
  }

  .table-cell {
    display: table-cell;
    padding: $table-cell-padding;
  }

  .table-row {
    display: table-row;
    text-decoration: none;

    &.row-link {
      &:hover {
        background-color: $table-highlight-color;
      }
    }
  }

  .table-head {
    display: table-header-group;

    .table-row {
      display: table-row;
      background-color: $table-heading-color;

      .table-cell {
        display: table-cell;
        color: $text-color-alt;
        text-transform: uppercase;
        font-weight: bold;
        font-size: $font-sm-size;
      }
    }
  }

  .table-body {
    display: table-row-group;
  }
}

.table-container {
  margin-bottom: $default-margin;
  overflow: scroll;
  background-color: $table-backgroud-color;
  @include box-shadow(5px, 5px, 5px, rgba(0, 0, 0, 0.3));
}
