* {
  box-sizing: border-box;
  font-size: $default-font-size;
  margin: 0;
  padding: 0;
  outline: none;
}

button {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

html {
  font-family: sans-serif;
  background-color: $background-color;
  color: $text-color;
}

html, body {
  height: $full-height;
}

body {
  position: relative;
}

ul, ol, menu {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: $default-margin;
}

h1 {
  font-size: $font-xl-size;
}

h2 {
  font-size: $font-lg-size;
}

.content {
  padding: $default-padding;
  min-height: 85vh;
}

body.noscroll {
  overflow: hidden;
}
