html, body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.content-wrapper {
  overflow: hidden;
  overflow-y: hidden;
  transition: margin-left 0.3s;
}

.content {
  padding: 1.0em;
  overflow-y: scroll;
}
