.clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-muted {
  color: lighten($text-color, 60%);
}

.success {
  background-color: $success-color;
}

.warning {
  background-color: $warning-color;
}

.danger {
  background-color: $danger-color;
}

.neutral {
  background-color: $neutral-color;
}

.text-wrap {
  word-wrap: normal;
}
