$background-color:        #F8F1ED;
$primary-color:           #110a06;
$success-color:           #089378;
$danger-color:            #f14814;
$warning-color:           #f14814;
$neutral-color:           #B0B0B0;

$primary-highlight-color: lighten($primary-color, 20%);
$success-highlight-color: lighten($success-color, 8%);
$danger-highlight-color:  lighten($danger-color,  20%);
$warning-highlight-color: lighten($warning-color,  20%);

$button-color:            lighten($primary-color, 20%);
$text-color:              #000000;
$text-color-alt:          #FFFFFF;
$link-color:              #3B107C;
$table-highlight-color:   lighten($primary-color, 70%);

$default-padding:         1.0em;
$button-padding:          0.7em;
$button-padding-small:    0.35em;
$table-cell-padding:      0.8em;

$default-margin:          1.0em;
$legend-margin:           $default-margin;
$button-margin:           $default-margin;
$input-margin:            $default-margin;

$default-transition:      0.3s;
$sidebar-transition:      $default-transition;
