$background-color: #FFFFFF;
$primary-color:    #3B107C;
$default-color:    #B0B0B0;

$button-color:     #096CA4;
$success-color:    #0D978C;
$danger-color :    #C70039;
$warning-color:    #FF5733;

$text-color:       #000000;
$text-color-alt:   #FFFFFF;
$link-color:       #3B107C;

$default-padding:      15px;
$button-padding:       0.7em;
$button-padding-small: 0.35em;
