$primary-color:           rgb(20, 12, 7);
$background-color:        rgb(245, 245, 245);
$primary-highlight-color: lighten($primary-color, 20%);
$alt-color:               $primary-color;
$alt-hightlight-color:    $primary-highlight-color;
$text-color:              rgb(0, 0, 0);
$text-color-alt:          rgb(255, 255, 255);
$link-color:              $primary-highlight-color;
$success-color:           rgb(8, 147, 120);
$success-highlight-color: lighten($success-color, 8%);
$danger-color:            rgb(241, 72, 20);
$danger-highlight-color:  lighten($danger-color, 10%);
$warning-color:           $danger-color;
$warning-highlight-color: lighten($warning-color, 10%);
$neutral-color:           rgb(156, 153, 153);

$button-color:              lighten($primary-color, 20%);
$button-highlight-color:    lighten($button-color, 10%);
$table-caption-color:       $primary-highlight-color;
$table-heading-color:       lighten($table-caption-color, 10%);
$table-backgroud-color:     rgb(255, 255, 255);
$table-backgroud-color-alt: lighten($table-caption-color, 67%);
$table-highlight-color:     lighten($primary-color, 80%);
$good-highlight-color:      rgb(244, 236, 195);

$default-padding:         1.0em;
$form-padding:            0.5em;
$button-padding:          0.7em;
$button-padding-medium:   0.5em;
$button-padding-small:    0.35em;
$table-cell-padding:      0.7em;

$default-margin:          1.0em;
$legend-margin:           $default-margin;
$button-margin:           $default-margin;
$input-margin:            $default-margin;

$default-transition:      0.2s;
$button-transition:       $default-transition;
$sidenav-transition:      $default-transition;
$popup-transition:        $default-transition;

$default-font-size:       18px;
$font-xs-size:            75%;
$font-sm-size:            90%;
$font-md-size:            120%;
$font-lg-size:            140%;
$font-xl-size:            160%;

$full-width:              100%;
$full-height:             100%;
$sidenav-width:           250px;
