<main class="welcome">
  <div class="text-center welcome-block">
    <h1>Hey!</h1>
    <p>Welcome to <strong>rkeep</strong>!</p>
    <p>Sign in to start doing your hard job.</p>
    <%= link_to 'Sign in', new_user_session_url, class: 'btn success' %>
  </div>
</main>
