<main class="jumbotron text-center welcome">
  <h1>Hey!</h1>
  <p>Welcome to <strong>rkeep</strong>! Sign in to start doing your hard job.</p>
  <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-success btn-lg' %>
</main>
