<div class="popup-wrapper popup-wrapper--hidden">
  <div class="good-popup">
    <button class="good-popup__button good-popup__button--close"></button>

    <div class="good-popup__header">
      Add item
    </div>

    <div class="good-popup__body">
      <div>
        <label for="good[id]">Item</label>
        <%= select_tag 'good[id]', options_for_select(@goods.map{ |good| ["#{good.name} #{'%.2f' % good.price}", good.id] }) %>
      </div>
      <div>
        <label for="good[quantity]">Quantity</label>
        <%= select_tag 'good[quantity]', options_for_select((1..100).map{ |n| [n,n] }) %>
      </div>
    </div>

    <div class="good-popup__footer">
      <button class="good-popup__footer__add-button">
        Add
      </button>
    </div>
  </div>
</div>
