<div class="good" data-good-id="{{ id }}">
  <button class="good__button good__button--close"></button>

  <div class="good__header">
    <h3 class="good__header__title">{{ name }}</h3>
  </div>

  <div class="good__body">
    <input name="good[quantity]" type="text" value="{{ quantity }}" />
  </div>
</div>
