<% provide :page_title, "Add item to bill #{@bill_item.bill.id}" %>

<%
  crumbs = [
    crumb('Shifts', shifts_url),
    crumb("Shift #{@bill.shift.id}", shift_url(@bill.shift)),
    crumb("Bill #{@bill.relative_id}", shift_bill_url(@bill.shift, @bill)),
    crumb('Manage items')
  ]
%>

<div class="clearfix">
  <%= breadcrumbs crumbs %>
</div>

<% if @goods.empty? %>
  <p class="text-center">No goods available.</p>
<% else %>
  <section class="goods-container">
    <div class="goods-container__toolbar text-right">
      <button class="btn success" id="trigger"><span class="icon plus"></span></button>
    </div>
    <div class="goods-container__list">
    </div>

    <%= render partial: 'good_popup' %>
  </section>

  <script id="good-template" type="x-tmpl-mustache">
    <%= render partial: 'good_template' %>
  </script>
<% end %>
