$goods-in-row-large: 4;

.good {
  position: relative;

  float: left;

  @include calc(width, '((100% / #{$goods-in-row-large}) - #{$default-margin})');

  margin-right: $default-margin;
  margin-bottom: $default-margin;
  padding: $default-padding;

  background-color: rgb(255, 255, 255);
  @include box-shadow(5px, 5px, 5px, rgba(0, 0, 0, 0.3));
  opacity: 1;

  @include transition(opacity 1000ms);
  @include transition(background-color 200ms);

  @media screen and (max-width: 1024px) {
    width: 100%;
  }

  &--hidden {
    opacity: 0.3;
  }

  &--highlight {
    background-color: rgb(240, 216, 133);
  }

  &__button {
    position: absolute;
    top: 0;
    right: 0;

    padding: 10px;
    min-width: 40px;

    cursor: pointer;

    color: rgb(255, 255, 255);
    background-color: rgb(130, 130, 130);

    @include transition(background-color 200ms);

    &:hover {
      background-color: rgb(156, 156, 156);
    }

    &--close {
      background-color: $warning-highlight-color;

      &::before {
        content: "✖";
      }

      &:hover {
        background-color: $warning-color;
      }
    }
  }

  &__header {
    &__title {
      text-transform: uppercase;
      text-align: left;
    }
  }
}
