.goods-container {
  @include clearfix;

  max-height: 100%;

  &__toolbar {
    @include clearfix;

    width: 100%;

    padding-top: $default-padding;
    padding-bottom: $default-padding;
    margin-bottom: $default-margin;
  }

  &__list {
    @include clearfix;
  }
}
