$goods-in-row: 4;

.good {
  position: relative;
  float: left;
  @include calc(width, '((100% / #{$goods-in-row}) - #{$default-margin})');
  margin-right: $default-margin;
  margin-bottom: $default-margin;
  background-color: rgb(255, 255, 255);
  @include box-shadow(5px, 5px, 5px, rgba(0, 0, 0, 0.3));
  opacity: 1;
  @include transition(background-color $popup-transition);
  @media screen and (max-width: 1024px) {
    width: 100%;
  }

  &--hidden {
    opacity: 0.3;
  }

  &--highlight {
    background-color: $good-highlight-color;
  }

  &__button {
    position: absolute;
    top: 0;
    right: 0;
    padding: $button-padding-medium;
    min-width: 40px;
    min-height: 40px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: $button-color;
    @include transition(background-color $popup-transition);

    &:hover {
      background-color: $button-highlight-color;
    }

    &--close {
      background-color: $warning-highlight-color;

      &::before {
        content: "✖";
      }

      &:hover {
        background-color: $warning-color;
      }
    }
  }

  &__header {
    padding: $form-padding;
    min-height: 40px;

    &__title {
      margin-bottom: 0;
      text-transform: uppercase;
      text-align: left;
      font-size: $font-sm-size;
    }
  }

  &__body {
    padding: $form-padding;
  }
}
