<footer class="footer text-center">
  <span class="text-muted">&copy; 2016 <strong>rkeep</strong> - <a class="text-muted" href="https://www.facebook.com/profile.php?id=100002738532163&">Anton Prudkohliad</a></span>
</footer>
