<footer class="footer text-center">
  <span class="text-muted">&copy; <%= Time.zone.now.year %>
    <strong>rkeep</strong>
    -
    <a class="text-muted" href="https://www.facebook.com/profile.php?id=100002738532163&" target="_blank">Anton Prudkohliad</a>
  </span>
</footer>
