<footer class="footer">
  <span class="footer__text">&copy; 2016-<%= Time.zone.now.year %>
    <strong class="footer__text__title">rkeep</strong>
    -
    <a class="footer__text__url" href="https://www.facebook.com/profile.php?id=100002738532163&" target="_blank">Anton Prudkohliad</a>
  </span>
</footer>
