<header class="header">
  <button class="sidenav-open-button" id="sidenav-open-button">
    <span class="icon hamburger"></span>
  </button>
  <%= link_to full_title, root_url, class: 'brand' %>
</header>
