<header class="header clearfix">
  <menu>
    <li>
      <button id="sidebar-toggle">
        <span class="fa fa-bars fa-lg"></span>
      </button>
    </li>
  </menu>
  <%= link_to full_title, root_url, class: 'logo' %>
</header>
